body {
    text-align: center;
}

#search-box {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-item {
    margin: 10px;
    width: 360px;
}

.result-item:only-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyword-container button,
.clickable,
.more-button {
    color: #6633ff;
    background: none;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    border: 1px solid;
    border-radius: 2px;
    transition: color 0.2s;
}

#keyword-container button,
.clickable {
    display: inline-block;
    margin-bottom: 8px;
    padding: 2px 4px;
}

.more-button {
    margin: 2em auto;
    padding: 0.5em 1em;
}
